# Rust
/target/
**/*.rs.bk
*.pdb

# Environments
.env
.envrc

# Editors
/.idea
/.vscode

# bwrap sandbox remnants
/.bash_profile
/.bashrc
/.gitconfig
/.mcp.json
/.profile
/.ripgreprc
/.zprofile
/.zshrc
/.netrc
/.npmrc
/id_ed25519
/id_rsa

# Claude Code
/.claude/
